@charset "UTF-8";
/* rEGRA @charset caso haja problemas com acentuação */

body{
    background-color: lightgoldenrodyellow;
    color: chocolate;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: brown;
    text-align: center;
}

a{
    color: brown;
    text-decoration: none;
}